.box {
    background: #ff1399;
    width: 1000px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}

.box-2 {
    background: blue;
}

.box-3{
    background: green;
}









/*
- BLOCK
    VEM COMO PADRÃO DIV, SECTION, P, H1, H2, UL, LI, ARTICLE

    OCUPA 100% DA LARGURA DP ELEMENTO PAI
    SEMPRE OCUPA TODA A SUA LINHA
    ALTURA DEFINIDA DE ACORDO COM O CONTEÚDO
    PODEMOS DEFINIR HEIGHT E WIDTH
    PODEMOS DEFINIR VALORES DE MARGIN

- INLINE
    VEM COMO PADRÃO A, SPAN, B, I

    ELEMENTOS EM LINHA
    NÃO PERMITE ALTERAR HEIGGHT E WIDTH
    NÃO PODEMOS DEFINIR VALORES DE MARGIN TOP E BOTTOM
    GANHA COMPORTAMENTO DE UMA PALAVRA

    - INLINE-BLOCK

    ELEMENTOS EM LINHA PORÉM COM CARACTERISTICAS DO DISPLAY BLOCK
    ALTURA E LARGURA PODEM SER ALTERADAS.
    */