/* PSEUDOMO 
PARA FUNCIONAR A ADIÇÃO DE ALGO ANTES OU DEPOIS DOQUE FOR ESCRITO, PRECISAMOS UTILIZAR CONTENT.*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    border: 1px solid red;
    color: blue;
}

input::placeholder{
    color: #ff1496;

}

p{
    color: #ff1496;
}

p::first-letter{
    color: green;
}

a{
    color: aquamarine;
}

a::after{
     content: '👌';

}

a::before{
        content: '👉​';
}

P:active{
    color: green;
}
/* PSEUDO CLASSE

    :ACTIVE > QUANDO O ELEMENTO ESTÁ ATIVO, OU SEJA, ESTÁ SENDO PRESSIONADO
    :VISITED > SELECIONA O LINK QUE FOI VISITADO
    :HOUVER > QUANDO O MOUSE PASSE EM CIMA DO ELEMENTO
    :CHECKED > USADO EM RADIOI / CHECKBOX / SELECT
    :DISABLED > ELEMENTO DESABILITADO / BUTTON / INPUT
    :ENABLE > ELEMENTO ESTÁ HABILITADO
    :FOCUS > É APLICADO QUANDO UM ELEMENTO RECEBE FOCO, O QUE PODE OCORRER QUANDO O USUÁRIO SELECIONA O ELEMENTO
    :READ-ONLY > SELECIONA UNPUT OU TEXTAREA QUE SÃO APENAS LEITURA
    :EMPTY > ELEMENTO QUE NÃO TEM FILHO
    
    :FIRST-CHILD > PRIMEIRO FILHO / EX: PEIMEIRA LI DE UMA UL / PRIMEIRO SPAN DE UMA DIV
    :FIRST-OF-TYPE > PEIMEIRO ELEMENTO DE SEU TIPO ENTRE OS FILHOS DE SEU ELEMENTO PAI.
    :LAST-CHILD > ÚLTIMO FILHO
    :LEST-OF-TYPE > ÚLTIMO ELEMENTO DE SEU TIPO ENTRE OS FILHOS DE SEU ELEMENTO PAI
    :NOT() > ESTILIZA OS ELEMTNOS, EXETO O QUE ESTÁ DENTRO DO ()
    :NTH-CHILD() > SELECIONA O ELEMENTO BASEADO NA SUA POSIÇÃO. EX: :NTH-CILD(3)
    :NTH-LAST-CHILD() > SELECIONA O ELEMENTO BASEADO NA SUA POSIÇÃO, CONTANDO DE TRÁS PARA FRENTE
