 /* RESPONSIVIDADE

 ALL: PARA TODOS OS DISPOSITIVOS
 BRAILLE: PARA DISPOSITIVOS TÁTEIS
 EMBOSSED: APARA DISPOSITIVOS QUE IMPRIME EM BRAILE
 HANDHELD: PARA DISPOSITIVOS PORTÁTEIS, GERALMENTE COM TELAS PEQUENAS E BANDA LIMITADA
 PRINT: PARA IMPRESSÃO EM PAPEL.
 PROJECTION: PARA APRESENTAÇÕES COMO PPS
 SCREEN: PARA MONITORES OU DISPOSITIVOS COM TELAS COLORIDAS E RESOLUÇÃO ADEQUADA
 SPEECH: PARA SINTETIZADORES DE VOZ. AS CSS 2 TEM UMA ESPECIFICAÇÃO DE CSS CHAMADA AURAL, ONDE PODEMOS FORMATAR A VOZ DOS SINTETIZADORES.

 ORIENTAÇÃO
 POTRAIT > ALTURA MAIOR QUE A LARGURA
 LANDSCAPE > LARGURA MAIOR QUE A ALTURA
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

div{
    height: 700px;
    width: 700px;
    background: green;
}
 @media screen and (max-width: 600px) and (orientation: landscape){
    div{

    background: blue;
    height: 200px;
    width: 200px;
    }
 }