/*O * SE REFERE Á PAGINAMEXE COM TODA A PÁGINA */
/* O ID É UMA IDENTIFICAÇÃO UNICA E A CLASSE PODE SER REPETIDA, POR ELEMENTOS DIFERENTES */
/* CSS => FOLHA DE ESTILO EM CASCATA, SEMPRE VAI SOBREPOR A ULTIMA INFORMAÇÃO DADA NO CÓDIGO*/
/* É SEMPRE BOM CONFERIR NO INSPECIONAR DO NAVEGADOR, CASO NÃO ENCONTRE O ERRO NO CÓDIGO O INSPECIONAR PODE AJUDAR*/

/* RGB
    RED
    GREEN
    BLUE

HEXADECIMAL
DECIMAL (10) =>0,1,2,3,4,5,6,7,8,9
HEXADECIMAL (16) => 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F

*/
.vo {
    font-size: 10px;
}

.pai {
    width: 10vw;
    height: 10vh;
    background: #0000ff;
    color: #ffffff;
    font-size: 2em;
}

.filho {
    width: 50%;
    height: 50%;
    background: #ff0000;
    color: #ffffff;
    font-size: 2rem;
}








/* -> ABSOLUTAS
    PX (PIXELS) 99,9 % DAS VEZES VAMOS UTILIZAR ELE 
    IN(INCHES/POLEGADAS)
    CM / MM (CENTIMETRO / MILÍMETRO)

    -> RELATIVAS
    % CALCULA O TAMANHO RELATIVO AO ELEMENTO PAI
    VW (VIEW WIDTH) 1VW É 1% DA LARGURA DA JANELA DO NAVEGADOR
    VH (VIEW HEIGHT) 1VH É 1% DA ALTURA DA JANELA DO NAVEGADOR
    EM É UMA UNIDADE RELATIVA AO ELEMENTO PAI
    REM É UMA UNIDADE RELATIVA AO ELEMENTO RAIZ

    AS RELATIVAS USAMOS QUANDO QUEREMOS QUE SE ADAPTE.
    */